@model sarey_erp.Models.hojaRutaFactura

@{
    ViewBag.Title = "editar datos de retiro de pago";
}

<div class="content-wrapper" style="min-height: 1000px !important;">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="header">
            <h1>Datos de Retiro de Pago <small>Hoja de Ruta - Factura de Proveedores</small></h1>
        </div>
        <div class="clearfix"></div>
        <hr style="border-color:#000 !important" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form role="form" method="post" action="@Url.Action("metodoAgregarRetiraPago", "HojaRuta")" enctype="multipart/form-data">
                    <div class="form-group">
                        <div id="divNombreNombre" class="form-group">
                            <label class="control-label">Número de Orden de Compra:</label>
                            <input type="text" class="form-control" name="numeroOrdenCompra" id="numeroOrdenCompra"
                                   value="@Model.numeroOrdenCompra" required readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Número de Factura:</label>
                        <input type="text" class="form-control" name="numeroFactura" id="numeroFactura"
                               value="@Model.numeroFactura" required readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre de quien retira pago:</label>
                        <input type="text" class="form-control" value="@Model.retiraPago.nombre"
                               name="nombre" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <div id="divRut" class="form-group">
                            <label class="control-label">Rut:</label>
                            <input class="form-control" placeholder="Sin puntos ni guion"
                                   name="rut" id="rut" type="text" value="@Model.retiraPago.rut" required>
                            <span id="spanInputRut" class="glyphicon form-control-feedback"></span>
                            <div id="mensajeErrorRut" class="alert alert-danger hidden">
                                <strong>Error: </strong> El rut ingresado tiene un formato erróneo
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha:</label>
                        @{
                            string año = Model.retiraPago.fecha.Year.ToString();
                            string mes = Model.retiraPago.fecha.Month.ToString();
                            if (mes.Length == 1)
                            {
                                mes = "0" + mes;
                            }

                            string dia = Model.retiraPago.fecha.Day.ToString();
                            if (dia.Length == 1)
                            {
                                dia = "0" + dia;
                            }

                            string fecha = dia + "/" + mes + "/" + año;
                        }
                        <input class="form-control" name="fecha" id="fecha" value="@fecha"
                               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
                               type="text" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Observaciones:</label>
                        <textarea class="form-control" id="observaciones" name="observaciones">@Model.retiraPago.observaciones</textarea>
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <div class="modal-footer">
                        <a href="@Url.Action("general", "HojaRuta", new { idOrdenCompra=Model.numeroOrdenCompra})" class="btn btn-lg btn-default">Cancelar</a>
                        <button type="submit" id="boton" class="btn btn-lg btn-primary">Guardar Datos</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    @section scripts{
        <script type="text/javascript">

            $('#rut').bind('keypress', function (event) {
                var regex = new RegExp("^[0-9,k,K]+$");
                var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                if (!regex.test(key)) {
                    event.preventDefault();
                    return false;
                }
            });

            function formatearRut() {
                rut = $("#rut").val();

                arreglo = rut.split('');

                rut = "";
                var regex = new RegExp("^[0-9,k,K]+$");

                for (i = 0; i < arreglo.length; i++) {

                    key = arreglo[i] + "";

                    if (regex.test(key)) {
                        rut = rut + key;
                    }
                }
                $("#rut").val(rut);
            }

            $("#rut").change(function () {

                formatearRut();

                rut = $("#rut").val();

                console.log("Rut: " + rut);

                if (rut == "") { habilitarBoton = false; }
                else {
                    $.ajax({
                        url: "/Usuarios/verificarRut",
                        data: { "rut": rut },

                        success: function (retorno) {

                            console.log("Retorno: " + retorno);

                            if (retorno == "true") {
                                $("#boton").removeAttr("disabled");

                                $("#divRut").removeClass(" has-error");
                                $("#divRut").addClass(" has-feedback");
                                $("#divRut").addClass(" has-success");
                                $("#spanInputRut").addClass("glyphicon-ok");
                                $("#spanInputRut").removeClass("glyphicon-remove");
                                $("#mensajeErrorRut").addClass("hidden");
                            }
                            else {
                                $("#boton").attr("disabled", "disabled");

                                $("#divRut").addClass(" has-error");
                                $("#divRut").addClass(" has-feedback");
                                $("#divRut").removeClass(" has-success");
                                $("#spanInputRut").addClass("glyphicon-remove");
                                $("#spanInputRut").removeClass("glyphicon-ok");
                                $("#mensajeErrorRut").removeClass("hidden");
                            }//*/
                        }
                    });
                }
            });

        $("#fecha").datetimepicker({
            viewMode: 'days',
            format: 'DD/MM/YYYY'
        });

        </script>
    }
