@model sarey_erp.Models.hojaRutaFactura

@{
    ViewBag.Title = "nueva";
}

<div class="content-wrapper" style="min-height:1200px !important">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="header">
            <h1>Edición de Hoja de Ruta <small>Factura de Proveedores</small></h1>
        </div>
        <div class="clearfix"></div>
        <hr style="border-color:#000 !important" />
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <form role="form" method="post" action="@Url.Action("editarHojaRuta", "HojaRuta")" enctype="multipart/form-data">
                    <div class="form-group">
                        <div id="divNombreNombre" class="form-group">
                            <label class="control-label">Número de Orden de Compra:</label>
                            <input type="text" class="form-control" name="numeroOrdenCompra" id="numeroOrdenCompra"
                                   value="@Model.numeroOrdenCompra" required readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Proveedor:</label>
                        <input name="proveedor" id="proveedor" value="@ViewBag.proveedor" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Rut:</label>
                        <input class="form-control" value="@ViewBag.rutProveedor"
                               name="rut" id="rut" type="text" required readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">N° de factura anterior:</label>
                        <input class="form-control" value="@Model.numeroFactura"
                               placeholder="4320" name="numeroFacturaAnterior" id="numeroFacturaAnterior" type="text" required readonly>
                    </div>
                    <div class="form-group">
                        <div id="divRut" class="form-group">
                            <label class="control-label">N° de factura:</label>
                            <input class="form-control" id="numeroFactura" name="numerofactura" value="@Model.numeroFactura" required>
                            <span id="spanInputRut" class="glyphicon form-control-feedback"></span>
                            <div id="mensajeErrorRut" class="alert alert-danger hidden">
                                <strong>Error: </strong> Ya existe una factura con este número para este proveedor
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de recepción de factura:</label>
                        @{
                            string año = Model.fechaRecepcionFactura.Year.ToString();
                            string mes = Model.fechaRecepcionFactura.Month.ToString();
                            if (mes.Length == 1)
                            {
                                mes = "0" + mes;
                            }

                            string dia = Model.fechaRecepcionFactura.Day.ToString();
                            if (dia.Length == 1)
                            {
                                dia = "0" + dia;
                            }

                            string fecha = dia + "/" + mes + "/" + año;
                        }
                        <input class="form-control" value="@fecha"
                               name="fechaEntrega" id="fechaEntrega"
                               data-date-format="DD/MM/YYYY" pattern="[0-9][0-9]/[0-9][0-9]/[0-9][0-9][0-9][0-9]"
                               type="text" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre de quien entrega la factura:</label>
                        <input class="form-control" value="@Model.nombreQuienEntrega"
                               placeholder="4320" name="nombreQuienEntrega" type="text" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Forma de Pago:</label>
                        <select name="formaPago" id="formaPago" class="form-control">
                            <option value="Seleccione una opción">Seleccione una opción</option>

                            @if (Model.formaPago.Equals("cheque"))
                            {
                                <option value="cheque" selected>Cheque</option>
                            }
                            else
                            {
                                <option value="cheque">Cheque</option>
                            }

                            @if (Model.formaPago.Equals("efectivo"))
                            {
                                <option value="efectivo" selected>Efectivo</option>
                            }
                            else
                            {
                                <option value="efectivo">Efectivo</option>
                            }

                            @if (Model.formaPago.Equals("transferencia"))
                            {
                                <option value="transferencia" selected>Transferencia</option>
                            }
                            else
                            {
                                <option value="transferencia">Transferencia</option>
                            }

                            @if (Model.formaPago.Equals("cajaChica"))
                            {
                                <option value="cajaChica" selected>Caja Chica</option>
                            }
                            else
                            {
                                <option value="cajaChica">Caja Chica</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Centros de Costos:</label>
                        @{
                            string centroCosto = "";
                        }
                        @foreach (string cc in (List<string>)@ViewBag.centroCosto)
                        {
                            centroCosto += cc + "-";
                        }
                        @{
                            centroCosto = centroCosto.TrimEnd('-');
                            centroCosto = centroCosto.Replace("-", " - ");
                        }
                        <input name="centroCostos" id="centroCostos" value="@centroCosto" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Detalle de productos:</label>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Unidad</th>
                                    <th>Cantidad por Llegar</th>
                                    <th>Cantidad Entregada</th>
                                </tr>
                                @{
                                    List<string> lista = (List<string>)ViewBag.productos;
                                }
                                @foreach (string cadena in lista)
                                {
                                    <tr>
                                        <td>@cadena.Split(';')[0]</td>
                                        <td>@cadena.Split(';')[1]</td>
                                        <td>@cadena.Split(';')[2]</td>
                                        <td>@(double.Parse(cadena.Split(';')[3]) + double.Parse(cadena.Split(';')[4]))</td>
                                        <td><input class="form-control" name="cantidadEntregada" id="cantidadEntregada" value="@cadena.Split(';')[4]" /></td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <div class="modal-footer">
                        <a href="@Url.Action("Index","HojaRuta")" class="btn btn-lg btn-default">Cancelar</a>
                        <button type="submit" id="boton" class="btn btn-lg btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    @section scripts{
        <script type="text/javascript">

    $("#numeroFactura").change(function () {
        verificarCampos();
    });

    $('#numeroFactura').bind('keypress', function (event) {
        var regex = new RegExp("^[0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    });

    $("#proveedor").change(function () {
        verificarCampos();

        $.ajax({
            url: "/HojaRuta/obtenerDatosProveedor",
            data: { "nombre": $("#proveedor").val() },

            success: function (retorno) {

                console.log("Rut de Proveedor: " + retorno);

                $("#rut").val(retorno)
            }
        });
    });

    $("#formaPago").change(function () {
        verificarCampos();
    });

    $("#centroCostos").change(function () {
        verificarCampos();
    });

    function verificarCampos() {
        var habilitarBoton = true;

        var formaPago = $("#formaPago").val();
        if (formaPago == "Seleccione una opción") {
            habilitarBoton = false;
        }

        var nOrdenCompra = $("#numeroOrdenCompra").val();
        if (nOrdenCompra == "Seleccione una opción") {
            habilitarBoton = false;
        }

        var centroCostos = $("#centroCostos").val();
        if (centroCostos == "Seleccione una opción") {
            habilitarBoton = false;
        }


        $.ajax({
            url: "/HojaRuta/existeFacturaProveedor",
            data: {
                "factura": $("#numeroFactura").val(),
                "proveedor": $("#proveedor").val()
            },

            success: function (retorno) {

                console.log("Existe factura proveedor: " + retorno);

                if ((retorno != "false" && $("#numeroFactura").val() != $("#numeroFacturaAnterior").val()) || $("#numeroFactura").val() == "") {
                    habilitarBoton = false;
                    $("#divRut").addClass(" has-error");
                    $("#divRut").addClass(" has-feedback");
                    $("#divRut").removeClass(" has-success");
                    $("#spanInputRut").addClass("glyphicon-remove");
                    $("#spanInputRut").removeClass("glyphicon-ok");
                    if ($("#numeroFactura").val() != "") $("#mensajeErrorRut").removeClass("hidden");
                }
                else {
                    $("#divRut").removeClass(" has-error");
                    $("#divRut").addClass(" has-feedback");
                    $("#divRut").addClass(" has-success");
                    $("#spanInputRut").addClass("glyphicon-ok");
                    $("#spanInputRut").removeClass("glyphicon-remove");
                    $("#mensajeErrorRut").addClass("hidden");
                }

                if (habilitarBoton) {
                    $("#boton").removeAttr("disabled");
                }
                else {
                    $("#boton").attr("disabled", "disabled");
                }
            }
        });
    }

    $(document).on("keypress", 'form', function (e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            e.preventDefault();
            return false;
        }
    });


    $("#fechaEntrega").datetimepicker({
        viewMode: 'days',
        format: 'DD/MM/YYYY'
    });
        </script>
    }
