@model List<sarey_erp.Models.proveedores>
@{
    ViewBag.Title = "Administrar Proveedores";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 10);
}
<div class="content-wrapper">
    <br />
    <div class="page-header">
        <h2 class="text-center">Proveedores del Sistema</h2>
    </div>
    
    <div class="content">
        <div class="table-responsive">
            @grid.GetHtml(
            columns: grid.Columns(
            grid.Column("nombre_proveedor",
            header: string.Format("Proveedor {0}", grid.SortColumn == "id" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),


            grid.Column("nombre_contacto",
            header: string.Format("Nombre contacto {0}", grid.SortColumn == "" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),

            grid.Column("correo_contacto",
            header: string.Format("Correo {0}", grid.SortColumn == "" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),

            grid.Column("telefono",
            header: string.Format("Telefono {0}", grid.SortColumn == "" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),

            grid.Column("direccion",
            header: string.Format("Dirección {0}", grid.SortColumn == "" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),

            grid.Column("razonsocial",
            header: string.Format("Razon social {0}", grid.SortColumn == "" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),

            grid.Column("rut",
            header: string.Format("R.U.T {0}", grid.SortColumn == "" ? grid.SortDirection == SortDirection.Ascending ? "⇈" : "⇊" : "")),

            grid.Column("",
            header: "Editar",
            format: @<text>
                <a href="@Url.Action("editar", "Proveedor", new { id = @item.nombre_proveedor })" title="Editar"><i class='glyphicon glyphicon-edit text-primary'></i></a>
            </text>),
                        
            grid.Column("",
            header: "Eliminar",
            format: @<text>
            <a href="#" data-toggle="modal" data-target="#myModal" onclick="funcionDelete('@item.nombre_proveedor')" title="Eliminar"><i class='glyphicon glyphicon-trash text-danger'></i></a>
            </text>)
            ), tableStyle: "table table-hover table-bordered table-striped", footerStyle: "pagination")
        </div>
        <div class="modal-footer">
            <a href="@Url.Action("nuevo", "Proveedor")" type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus-sign text-success"></i>&nbsp;Nuevo</a>
        </div>
        <!--Modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">¿Eliminar Proveedor?</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center" id="text-modal"></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>Cancelar</button>
                        <a href="" type="button" id="btn_delete" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    function funcionDelete(nombreProveedor) {
        $("#text-modal").html("");
        var cadena = "@Url.Action("eliminar", "Proveedor", new { nombreProveedor = "name"})";
        cadena = cadena.replace("name", nombreProveedor);
        $("#btn_delete").attr("href", cadena);
        $("#text-modal").append("¿Estás seguro de que deseas eliminar <strong>" + nombreProveedor + "</strong> de Proveedores?");
    }
    </script>
}
